{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1 class="twin-peaks">About Twin Peaks Who's Who</h1>
<img src="https://cdn.vox-cdn.com/thumbor/N8J2OpZPxfMRD6dfl2P00REgisE=/0x0:1958x1475/1400x788/filters:focal(823x582:1135x894):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/54857731/GettyImages_85129552.0.jpg" alt="Donuts!"/>
<h1 class="twin-peaks-about">A place to get know to the characters from the series created by David Lynch and Mark Frost</h1>
{% endblock %}