{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Character{% endblock  %}

{% block content %}

<h1 class="twin-peaks">Who's Who in Twin Peaks</h1>
<div class="gallery">
  {% for character in characters %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{character.img}}" class="gallery-image" alt="{{character.name}}" width="100%"" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{character.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Characters Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}