{% extends 'base.html' %} 
{% block content %}
<div class="detail-image">
    <img class="detail-image-radius" src="{{character.img}}" alt="{{character.name}}" />
</div>
<div class="detail__name">
    <h1 class="title character-name">{{character.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'character_update' character.pk %}" class="button is-info"> Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/characters/{{character.id}}/delete" class="button is-danger"> Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p class="bio-text">{{character.bio}}</p>
    </div>
    <div class="detail__quotes mb-5">
        <h3 class="title is-4 quote-title">Quotes:</h3>

        {% for quote in character.quotes.all %}
            <div class="quote">
                <span><q><b>{{quote.quote}}</b></q></span>
            </div>
            <span>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button
                      class="button"
                      aria-haspopup="true"
                      aria-controls="dropdown-menu"
                    >
                      <span>Add to Quote List</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      {% for quotelist in quotelists %}
                      <a
                        href="{% url 'quotelist_quote_assoc' quotelist.pk quote.pk %}?assoc=add"
                        class="dropdown-item"
                      >
                        {{quotelist.title}}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </span>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Quotes Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <form class="mb-5" action="{% url 'quote_create' character.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="quote"
                    placeholder="add a new quote"
                    required
                />
            </div>
            <div class="control quote-add">
                <input class="button is-primary quote-button" type="submit" value="Add Quote" />
            </div>
        </div>
    </form>
</div>

{% endblock %}

